In [21]:
import pandas as pd

In [22]:
#grab CSVs
df_1 = pd.read_csv('citibike_6_19.csv')
df_2 = pd.read_csv('citibike_7_19.csv')
df_3 = pd.read_csv('citibike_8_19.csv')
df_4 = pd.read_csv('citibike_9_19.csv')
df_5 = pd.read_csv('citibike_6_20.csv')
df_6 = pd.read_csv('citibike_7_20.csv')
df_7 = pd.read_csv('citibike_8_20.csv')
df_8 = pd.read_csv('citibike_9_20.csv')

In [23]:

# Combine the DataFrames vertically
combined_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8], ignore_index=True)

In [24]:
#check dataframe
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [25]:
# drop unneeded columns

combined_df.drop(columns=['bikeid', 'stoptime', 'start station id', 'end station id'], inplace=True)

In [26]:
#check dataframe
combined_df.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,Warren St,40.721124,-74.038051,Newport Pkwy,40.728745,-74.032108,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,City Hall,40.717732,-74.043845,Morris Canal,40.712419,-74.038526,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,Oakland Ave,40.737604,-74.052478,Oakland Ave,40.737604,-74.052478,Subscriber,1994,1

In [27]:
# update gender values

combined_df["gender"].replace({1: 'Male', 2: 'Female', 0: 'Unknown'}, inplace=True)

combined_df.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,Warren St,40.721124,-74.038051,Newport Pkwy,40.728745,-74.032108,Subscriber,1993,Male
1,280,2019-06-01 00:08:09.0920,City Hall,40.717732,-74.043845,Morris Canal,40.712419,-74.038526,Subscriber,1984,Male
2,2162,2019-06-01 00:13:11.8800,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown
3,2184,2019-06-01 00:13:30.1110,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown
4,139,2019-06-01 00:13:31.8520,Oakland Ave,40.737604,-74.052478,Oakland Ave,40.737604,-74.052478,Subscriber,1994,Male

In [28]:
# create "trip year" field for analysis

combined_df['Trip Year'] = combined_df.starttime.str.split("-", expand=True)[0]
combined_df.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,Trip Year
0,316,2019-06-01 00:05:55.7210,Warren St,40.721124,-74.038051,Newport Pkwy,40.728745,-74.032108,Subscriber,1993,Male,2019
1,280,2019-06-01 00:08:09.0920,City Hall,40.717732,-74.043845,Morris Canal,40.712419,-74.038526,Subscriber,1984,Male,2019
2,2162,2019-06-01 00:13:11.8800,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown,2019
3,2184,2019-06-01 00:13:30.1110,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown,2019
4,139,2019-06-01 00:13:31.8520,Oakland Ave,40.737604,-74.052478,Oakland Ave,40.737604,-74.052478,Subscriber,1994,Male,2019

In [29]:
#caluclate Rider age
combined_df['Trip Year'] = combined_df['Trip Year'].astype(int)
combined_df['birth year'] = combined_df['birth year'].astype(int)

combined_df["Rider Age"] = combined_df["Trip Year"]-combined_df["birth year"]
combined_df.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,Trip Year,Rider Age
0,316,2019-06-01 00:05:55.7210,Warren St,40.721124,-74.038051,Newport Pkwy,40.728745,-74.032108,Subscriber,1993,Male,2019,26
1,280,2019-06-01 00:08:09.0920,City Hall,40.717732,-74.043845,Morris Canal,40.712419,-74.038526,Subscriber,1984,Male,2019,35
2,2162,2019-06-01 00:13:11.8800,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown,2019,50
3,2184,2019-06-01 00:13:30.1110,Newport Pkwy,40.728745,-74.032108,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown,2019,50
4,139,2019-06-01 00:13:31.8520,Oakland Ave,40.737604,-74.052478,Oakland Ave,40.737604,-74.052478,Subscriber,1994,Male,2019,25

In [31]:
combined_df.shape

(353832, 13)

In [33]:
# export CSV

combined_df.to_csv('combined_data.csv', index=False)